/* Using rems to easily scale these gauges */
/* line 7, /Users/mac/Desktop/Denison/2016 Spring /CS 349/dashboard/app/assets/stylesheets/student.scss */
body {
  margin-top: 4rem;
  font-weight: 400;
  font-family: 'Open Sans';
  height: 100%;
  background-color: #e7fffa;
}
/* line 14, /Users/mac/Desktop/Denison/2016 Spring /CS 349/dashboard/app/assets/stylesheets/student.scss */
body .container {
  margin: 0 auto;
  text-align: center;
}
/* line 18, /Users/mac/Desktop/Denison/2016 Spring /CS 349/dashboard/app/assets/stylesheets/student.scss */
body .container .row #chart {
  width: 300px;
  margin: 0 auto;
}
/* line 23, /Users/mac/Desktop/Denison/2016 Spring /CS 349/dashboard/app/assets/stylesheets/student.scss */
body .container .row .gauge .background {
  fill: #ddd;
}
/* line 27, /Users/mac/Desktop/Denison/2016 Spring /CS 349/dashboard/app/assets/stylesheets/student.scss */
body .container .row .gauge .value {
  fill: #777;
  font-size: 1.5rem;
}
/* line 32, /Users/mac/Desktop/Denison/2016 Spring /CS 349/dashboard/app/assets/stylesheets/student.scss */
body .container .row .gauge .value tspan {
  font-size: 1rem;
}
/* line 36, /Users/mac/Desktop/Denison/2016 Spring /CS 349/dashboard/app/assets/stylesheets/student.scss */
body .container .row .gauge .scale text {
  fill: #999;
  font-size: 0.75rem;
}
